textarea {
  min-height: 400px;
}

.email-item.read {
  background-color: #d5c4c4; /* Light grey for read emails */
}

.email-item.unread {
  background-color: #e0f7fa; /* Fade blue for unread emails */
}

.email-item {
  border: 1px solid #ccc; /* Light grey border */
  padding: 10px; /* Padding inside each email item */
  margin-bottom: 10px; /* Space between email items */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Button Styling */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#emails-view, #email-detail-view, #compose-view {
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea.form-control {
  min-height: 400px;
}

/* Customizing the layout */
#emails-view, #email-detail-view, #compose-view {
  display: none;
}

#emails-view.active, #email-detail-view.active, #compose-view.active {
  display: block;
}

hr {
  border-top: 1px solid #ced4da;
}
